@model CreateServiceVM
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Service</h4>
           
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for=Name for="exampleInputName1">Name</label>
                    <input asp-for=Name  class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for=Description for="exampleInputName1">Description</label>
                    <input asp-for=Description class="form-control" placeholder="Description">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for=Photo for="exampleInputName1">Photo</label>
                    <input asp-for=Photo class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="index" asp-controller="service" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>