@model Service

        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">

                        <h4>Detail</h4>
                        <form class="pt-3" >
                           

                            <div class="form-group">
                                <h4>@Model.Name</h4>
                                <h4>@Model.Description</h4>
                            </div>
                           
                        </form>

                    </div>
                </div>
            </div>
        </div>

